.card-deck {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .card {
    flex: 1 1 0; /* Grow, shrink, basis */
    margin: 10px; /* Spacing between cards */
    max-width: 30%; /* Adjust this value to fit the number of cards in one row */
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
<<<<<<< HEAD
  
  .jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
  }
  
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
=======
  
>>>>>>> be7796dfb53de5c9fe58c3ab4d2c78c010eba5c2
